a.navbar-brand img {
  margin-top: -10px;
  height: 40px;
}

.border {
  border: 1px solid black;
  margin-top: 20px;
  max-width: 400px;
}

.form-horizontal {
  text-align: left;
}

  legend, .form-group {
  padding-left: 10px;
}

.alert {
  margin-top: -21px;
}

img.uploadedProduct {
  height: 500px;
  width: 700px;
  margin: 20px 00px 20px 150px;
}
